{% extends 'WebShopBundle::user.html.twig' %}

{% block title %} Accountverwaltung{% endblock %}

{% block content %}
<h2 class="heading style1">Passwort ändern</h2>

<form class="form" action="{{  path('account_password_save') }}" method="post" }}>
    {{ form_errors(form) }}
    
    <div class="cols">
      <div class="col c6of12">
        {{ form_label(form.password.password) }}
        {{ form_widget(form.password.password) }}
        
        {{ form_errors(form.password.password) }}
        

        {{ form_label(form.password.confirm) }}
        {{ form_widget(form.password.confirm) }}
        
        {{ form_errors(form.password.confirm) }}
        
        <button class="btn form-btn" type="submit">Passwort speichern</button>
        
        
      </div> <!-- c6of12 -->
    </div>

{{ form_end(form) }}


{% endblock %}
