{% extends "::base.html.twig" %}

{% block title %}WebShopBundle:Cart:index{% endblock %}

{% block body %}
<div>
<h2>Warenkorb</h2>
<table>
    {% for product in cart.CartProducts %}
        <tr>
          <td>{{ product.product.title }}</td>
          <td>{{ product.amount }}</td>
          <td>{{ product.product.price }}</td>
          <td>{{ product.amount * product.product.price  }}</td>
          <td><a href="{{ path('cart_del', {'id': product.product.id}) }}">del</a></td>
        </tr>
    {% endfor %}
</table>
</div>


<p>
<a href="{{ path('default') }}">Weiter Einkaufen</a>
</p>
<p>
<a href="{{ path('cart_order') }}">Zur Bestellung</a>
</p>
{% endblock %}
