{% extends 'WebShopBundle::site.html.twig' %}

{% block title %}WebShopBundle:Cart:index{% endblock %}

{% block content %}

<h2 class="heading style1">Warenkorb</h2>

                        <table cellpadding="0" cellspacing="0">
                          <thead>
                            <tr>
                              <th><h3 class="heading style3">Produkt</h3></th>
                              <th><h3 class="heading style3">Menge</h3></th>
                              <th><h3 class="heading style3">E Preis</h3></th>
                              <th><h3 class="heading style3">Preis</h3></th>
                              <th><h3 class="heading style3">Bearbeiten</h3></th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for product in cart.CartProducts %}
                            <tr>
                              <td><p>{{ product.product.title }}</p></td>
                              <td><p>{{ product.amount }}</p></td>
                              <td><p>{{ product.product.price|number_format(2, ',', '') }} &euro;</p></td>
                              <td><p>{{ (product.amount * product.product.price)|number_format(2, ',', '')  }} &euro;</p></td>
                              {% if product.product.id is not empty%}
                                <td><a class="remove" href="{{ path('cart_del', {'id': product.product.id}) }}">del</a></td>
                              {% else %}
                                <td><a class="remove" href="{{ path('cart_del', {'id': product.product.pubid}) }}">del</a></td>
                              {% endif %}
                            </tr>
                            {% else %}
                            <tr>
                              <td colspan="5"><p>keine Waren im Warenkorb</p></td>
                            </tr>
                            {% endfor %}
                          </tbody>
                          <tfoot>
                            <tr>
                              <td colspan="5"><small></small></td>
                            </tr>
                          </tfoot>
                        </table>




<p>
{% if cart.CartProducts is not empty %}
<a class=" btn form-btn" href="{{ path('cart_order') }}">Zur Kasse gehen</a>
{% endif %}
<a class=" btn form-btn" href="{{ path('default') }}">Weiter Einkaufen</a>

</p>
{% endblock %}
