<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
   
   	{% stylesheets '@WebShopBundle/Resources/public/css/shop.scss' 
	   	   filter='yui_css' 
			   output='css/min.css'
		 %}
		    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
		{% endstylesheets %}
		

  </head>
  <body>
      <div class="wrapper">
        <header>

          <div class="meta">
            <div class="inner">
              
              <a class="logo" href="{{ path('default') }}">
                <img alt="" height="100" src="http://placekitten.com/g/200/100" width="200">
              </a>
              
              <nav class="meta-nav">
                <ul>
	                <li><a href="{{ path('static_kontakt') }}"> Kontakt</a></li>
					        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
				          <li><a href="{{ path('account') }}"> Mein Konto</a></li>
					          {% if is_granted('ROLE_ADMIN') %}
					          <li><a href="{{ path('admin') }}">  ACP</a></li>
					          {% endif %}
					        {% endif %}
				        </ul>
              </nav> <!-- meta-nav -->
              
              <div class="login">
                {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                <a class="login-btn" href="#">Login</a>
                <div class="login-form">
                  <form action="{{ path('login_check') }}" method="post">
                    <ul>
                      <li><input class="input" placeholder="Login" type="text" id="username" name="_username" ></li>
                      <li><input class="input" placeholder="Passwort" type="password" id="password" name="_password"></li>
                      <li><button class="btn">Einloggen</button></li>
                    </ul>
                  </form>

                  <ul class="register">
                    <li><a href="{{ path('register') }}">Registrieren</a></li>
                    <li><a href="{{ path('reset_password') }}">Passwort vergessen?</a></li>
                  </ul>
                </div> <!-- login-form -->
                {% else %}
                  <a  class="login-btn" href="{{ path('logout') }}">logout</a>
                {% endif %}
              </div> <!-- login -->
              
            
              <div class="search">
                
                <form  action="{{ path('search') }}" method="post">
                  <input class="input" type="search" name="search" value="{% if search is defined %}{{ search }}{% endif %}">
                  <button class="search-btn">Suchen</button>
                </form>
                
              </div> <!-- search -->
              
               {{ render(controller('WebShopBundle:Cart:showCart')) }}

              
            </div> <!-- inner  -->
          </div> <!-- meta -->
        </header> <!-- header -->
      
      
      
  
				<div class="main" role="main">
          <div class="inner">
			    {% block body %}
			        
			    {% endblock %}
    
              </div> <!-- inner -->
        </div> <!-- main -->
    
    {% block footer %}
         <footer>
          <div class="inner">
            <nav class="footer-nav">
              <ul>
                <li><a href="#">AGB</a></li>
                <li><a href="#">Bezahlung</a></li>
                <li><a href="#">Versand</a></li>
              </ul>
            </nav>
          </div> <!-- inner -->
        </footer> <!-- footer -->
    {% endblock %}
    
    </div> <!-- wrapper -->
		{% javascripts '@WebShopBundle/Resources/public/js/modernizr-2.6.2.min.js' 
		               '@WebShopBundle/Resources/public/js/jquery-1.10.1.min.js'
		               '@WebShopBundle/Resources/public/js/plugins.js'
		               '@WebShopBundle/Resources/public/js/script.js'
		               
		   filter='yui_js' 
		   output='js/min.js'
		 %}
		    <script src="{{ asset_url }}"></script>
		{% endjavascripts %}
    </body>
</html>
