<!DOCTYPE html>
<html>
  <head>
   <meta charset="UTF-8" />
   <title>{% block title %}Welcome!{% endblock %}</title>
   {% block stylesheets %}
   
   {% endblock %}
   <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>
  <body>
    <header>
      <a href="{{ path('/') }}">index</a>
      <nav>
		    <ul>
		      {% if is_granted('IS_AUTHENTICATED_FULLY') %}
	          <li><a href="{{ path('account') }}"> {{ app.user.username }}</a></li>
	          <li><a href="{{ path('logout') }}"> logout</a></li>
	       
	        {% else %}
	          <li><a href="{{ path('login') }}"> login</a></li>
	        {% endif %}
		    </ul>
		  </nav>
  	</header>
    {% block body %}
        
    {% endblock %}
    

    {% block javascripts %}
    
    {% endblock %}
    </body>
</html>
