{% extends '::base.html.twig' %}

{% block body %}

<h3>Adresse bearbeiten</h3>
<br>
{{ form_start(form) }}
    {{ form_errors(form) }}

    <div>
        {{ form_label(form.name) }}
        {{ form_errors(form.name) }}
        {{ form_widget(form.name) }}
    </div>

    <div>
        {{ form_label(form.street) }}
        {{ form_errors(form.street) }}
        {{ form_widget(form.street) }}
    </div>

<input type="submit" />

{{ form_end(form) }}

{% endblock %}