{% extends 'WebShopBundle::user.html.twig' %}

{% block title %} Accountverwaltung{% endblock %}

{% form_theme form 'WebShopBundle:Form:form_errors.html.twig' %}

{% block content %}

<h2 class="heading style1">Adressdaten bearbeiten</h2>

<form class="form" action="{{  path('account_adress_save') }}" method="post" }}>
    {{ form_errors(form) }}
    
    <div class="cols">
      <div class="col c6of12">
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
        
        {{ form_errors(form.name) }}
        
        {{ form_label(form.street) }}
        {{ form_errors(form.street) }}
        {{ form_widget(form.street) }}
        
        {{ form_label(form.postcode) }}
        {{ form_errors(form.postcode) }}
        {{ form_widget(form.postcode) }}
        
        {{ form_label(form.location) }}
        {{ form_errors(form.location) }}
        {{ form_widget(form.location) }}
        
        {{ form_label(form.country) }}
        {{ form_errors(form.country) }}
        {{ form_widget(form.country) }}
        
        <button class="btn form-btn" type="submit">Adresse speichern</button>
        
        
      </div> <!-- c6of12 -->
    </div>

{{ form_end(form) }}

{% endblock %}