{% extends 'WebShopBundle::user.html.twig' %}

{% block title %} Accountverwaltung{% endblock %}

{% block content %}

<h2>Adressdaten bearbeiten</h3>
<br>
<form action="{{  path('account_adress_save') }}" method="post" }}>
    {{ form_errors(form) }}

    <div>
        {{ form_label(form.name) }}
        {{ form_errors(form.name) }}
        {{ form_widget(form.name) }}
    </div>
    <div>
        {{ form_label(form.street) }}
        {{ form_errors(form.street) }}
        {{ form_widget(form.street) }}
    </div>       
    <div>
        {{ form_label(form.postcode) }}
        {{ form_errors(form.postcode) }}
        {{ form_widget(form.postcode) }}
    </div> 
    <div>
        {{ form_label(form.location) }}
        {{ form_errors(form.location) }}
        {{ form_widget(form.location) }}
    </div>    
    <div>
        {{ form_label(form.country) }}
        {{ form_errors(form.country) }}
        {{ form_widget(form.country) }}
    </div>


<input type="submit" />

{{ form_end(form) }}

{% endblock %}