{% extends '::base.html.twig' %}

{% block body %}

<h3>Adresse <small><a href="{{ path('account_adress_edit') }}">edit</a></small></h3>
<br>
<strong>Name: </strong>{{ adress.name }}
<br>
<strong>Straße: </strong>{{ adress.street }}
<br>
<strong>Postleitzahl: </strong>{{ adress.postcode }}
<br>
<strong>Ort: </strong>{{ adress.location }}
<br>
<strong>Land: </strong>{{ adress.country }}

{% endblock %}