{% extends 'WebShopBundle::user.html.twig' %}

{% block title %} Accountverwaltung{% endblock %}

{% block content %}

<h2 class="heading style1">Adressdaten</h2>
<form  class="form" >

    <div class="cols">
      <div class="col c6of12">
        {{ form_label(form.name) }}
        {{ form_widget(form.name, { 'disabled' : true}) }}
        
        {{ form_label(form.street) }}
        {{ form_widget(form.street, { 'disabled' : true}) }}
        
        {{ form_label(form.postcode) }}
        {{ form_widget(form.postcode, { 'disabled' : true}) }}
        
        {{ form_label(form.location) }}
        {{ form_widget(form.location, { 'disabled' : true}) }}
        
        {{ form_label(form.country) }}
        {{ form_widget(form.country, { 'disabled' : true}) }}
        
        <a class="btn form-btn" href="{{ path('account_adress_edit') }}">edit</a>
      </div> <!-- c6of12 -->
    </div>
 </form>
 
{% endblock %}