{% extends '::base.html.twig' %}

{% block body %}

<h2>new Producte</h2>
<form action="{{  path('admin_product_create') }}" method="post" {{ form_enctype(form) }} }}>
    {{ form_errors(form) }}

    <div>
        {{ form_label(form.product.title) }}
        {{ form_errors(form.product.title) }}
        {{ form_widget(form.product.title) }}
    </div>
    <div>
        {{ form_label(form.product.price) }}
        {{ form_errors(form.product.price) }}
        {{ form_widget(form.product.price) }}
    </div>
    <div>
        {{ form_label(form.product.genres) }}
        {{ form_errors(form.product.genres) }}
        {{ form_widget(form.product.genres) }}
    </div>
    <div>
        {{ form_label(form.document.file) }}
        {{ form_errors(form.document.file) }}
        {{ form_widget(form.document.file) }}
    </div>
    
<input type="submit" />
{{ form_end(form) }}
{% endblock %}