{% extends 'WebShopBundle::admin.html.twig' %}

{% block title %} Admin Control Panel{% endblock %}

{% block content %}


<h2 class="heading style1">Userdaten von User {{ user.id }}</h2>
<form  class="form" >

    <div class="cols">
      <div class="col c6of12">
      
        {{ form_label(form.adress.name) }}
        {{ form_widget(form.adress.name, { 'disabled' : true}) }}
        
        {{ form_label(form.adress.street) }}
        {{ form_widget(form.adress.street, { 'disabled' : true}) }}
        
        {{ form_label(form.adress.postcode) }}
        {{ form_widget(form.adress.postcode, { 'disabled' : true}) }}
        
        {{ form_label(form.adress.location) }}
        {{ form_widget(form.adress.location, { 'disabled' : true}) }}
        
        {{ form_label(form.adress.country) }}
        {{ form_widget(form.adress.country, { 'disabled' : true}) }}
        
      </div>
      <div class="col c6of12">
        
        
        {{ form_label(form.security.username) }}
        {{ form_widget(form.security.username, { 'disabled' : true}) }}
        
        {{ form_label(form.security.email) }}
        {{ form_widget(form.security.email, { 'disabled' : true}) }}


        
        <a class="btn form-btn" href="{{ path('admin_user_edit', {'id': user.id}) }}">edit</a>
      </div> <!-- c6of12 -->
    </div>
 </form>
 
{% endblock %}