{% extends '::base.html.twig' %}

{% block body %}


        <div class="main" role="main">
          <div class="cols">
            <div class="col c2of12">
              <div class="filter">
                <h2 class="heading level2">Filter</h2>
                <h3 class="heading level3">Genre:</h3>
                <form action="{{ path('filter') }}" method="post">
                  <ul>
                  {% for genre in genres %}
								   <li>
								     <input id="g{{ loop.index }}" type="checkbox" {% if genre.active %} checked="checked" {% endif %}  name="filter[]" value="{{ genre.id }}">
								     <label for="g{{ loop.index }}" class="label">{{ genre.name }}</label>
								   </li>
								  {% endfor %}
                  </ul>
                  <button class="btn">Filtern</button>
                </form>
              </div> <!-- filter -->
            </div> <!-- c2of12 -->

            <div class="col c10of12">
              <div class="cols">
                <div class="col c9of12">
                  <nav class="main-nav">
                    <ul class="layer0">
                      <li>
                        {%  if type == 'BD' %}
                          <strong>Blu-Ray</strong>
                        {% else %}
                           <a href="{{ path('bd', {'cond':'New'} ) }}">Blu-Ray</a>
                        {% endif %}
                        <ul class="layer1">
                          <li><a href="{{ path('bd', {'cond':'New'} ) }}">Neu</a></li>
                          <li><a href="{{ path('bd', {'cond':'Old'} ) }}">Gebraucht</a></li>
                        </ul>
                      </li>
                      <li>
                        {%  if type == 'DVD' %}
                          <strong>DVD</strong>
                        {% else %}
                           <a href="{{ path('dvd', {'cond':'New'} ) }}">DVD</a>
                        {% endif %}
                        
                        <ul class="layer1">
                          <li><a href="{{ path('dvd', {'cond':'New'} ) }}">Neu</a></li>
                          <li><a href="{{ path('dvd', {'cond':'Old'} ) }}">Gebraucht</a></li>
                        </ul>
                      </li>
                      <li>
                        {%  if type == 'CD' %}
                          <strong>CD</strong>
                        {% else %}
                           <a href="{{ path('cd', {'cond':'New'} ) }}">CD</a>
                        {% endif %}
                        
                        <ul class="layer1">
                          <li><a href="{{ path('cd', {'cond':'New'} ) }}">Neu</a></li>
                          <li><a href="{{ path('cd', {'cond':'Old'} ) }}">Gebraucht</a></li>
                        </ul>
                      </li>
                    </ul>
                  </nav>
                </div> <!-- c9of12 -->

                <div class="col c3of12">
                  <a class="card" href="{{ path('cart') }}">
                  	<span class="amount">
                  		<span>{{ cartCount }}</span>
                  	</span>
                  	<span class="price">({{ cartSum }}&euro;)</span>
                  </a>
                </div> <!-- c3of12 -->
              </div> <!-- cols -->
              
              <ul class="products">
              {% for product in products %}
                <li>
                  <div class="box product-card">
                      <h2 class="heading level2">{{ product.title }}</h2>
                      <div class="cols">
                        <div class="col c6of12">
                          <figure class="image">
                          {% if product.image is not null %}
		                        <img height="300" width="200px" src="/uploads/documents/{{ product.image.path }}">
		                      {%  else %}
		                        <img height="300" width="200px" src="http://dummyimage.com/300x200/000/0011ff">
		                      {% endif %}
                          </figure>
                        </div> <!-- c6of12 -->
                        <div class="col c6of12">
                          <div class="small-box">
                            <p><strong>auf Lager</strong></p>
                            <p>Lieferung innerhalb der nächsten {{ product.shipping }} Werktage</p>
                            <ul class="rating">
				                      <li><a class="star one {% if product.stars < 1 %} empty {% endif %} " href="{% if is_granted('IS_AUTHENTICATED_FULLY') %} {{ path('vote', {'productid' : product.id, 'value' : "1"}) }} {% endif %}">befriedigend</a></li>
				                      <li><a class="star two {% if product.stars < 2 %} empty {% endif %} " href="{% if is_granted('IS_AUTHENTICATED_FULLY') %} {{ path('vote', {'productid' : product.id, 'value' : "2"}) }} {% endif %}">gut</a></li>
				                      <li><a class="star three {% if product.stars < 3 %} empty {% endif %} " href="{% if is_granted('IS_AUTHENTICATED_FULLY') %} {{ path('vote', {'productid' : product.id, 'value' : "3"}) }} {% endif %}">sehr gut</a></li>
                            </ul>
                            <ul>
                             {% for genre in product.genres %}
												        <li>{{ genre.name }}</li>
												      {% endfor %}
                            </ul>
                            <strong class="booking">{{ product.price }}&euro;</strong>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
									            <a class="add btn" href="{{ path('cart_add', {'id': product.id}) }}">in den Warenkorb</a>
									          {% endif %}
                          </div> <!-- box -->
                        </div> <!-- c6of12 -->
                      </div> <!-- cols -->
                      <p>{{ product.description }}</p>
                    </div> <!-- box -->
                  </li>

              {% endfor %}
              </ul>
            </div> <!-- c10of12 -->
          </div> <!-- cols -->
        </div> <!-- main -->


{% endblock %}