{% extends '::base.html.twig' %}

{% block body %}


        					<nav id="nav" class="main-nav">
                    <ul class="layer0">
                      <li>
                        {%  if type == 'BD' %}
                          <strong>Blu-Ray</strong>
                        {% else %}
                           <a href="{{ path('bd', {'cond':'New'} ) }}#nav">Blu-Ray</a>
                        {% endif %}
                        <ul class="layer1">
                          <li>
                            <span class="ico-info"></span>
                            <a href="{{ path('bd', {'cond':'New'} ) }}#nav">Neu</a>
                          </li>
                          <li>
                            <a href="{{ path('bd', {'cond':'Old'} ) }}#nav">Gebraucht</a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        {%  if type == 'DVD' %}
                          <strong>DVD</strong>
                        {% else %}
                           <a href="{{ path('dvd', {'cond':'New'} ) }}#nav">DVD</a>
                        {% endif %}
                        
                        <ul class="layer1">
                          <li>
                            <span class="ico-info"></span>
                            <a href="{{ path('dvd', {'cond':'New'} ) }}#nav">Neu</a>
                          </li>
                          <li>
                            <a href="{{ path('dvd', {'cond':'Old'} ) }}#nav">Gebraucht</a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        {%  if type == 'CD' %}
                          <strong>CD</strong>
                        {% else %}
                           <a href="{{ path('cd', {'cond':'New'} ) }}#nav">CD</a>
                        {% endif %}
                        
                        <ul class="layer1">
                          <li>
                            <span class="ico-info"></span>
                            <a href="{{ path('cd', {'cond':'New'} ) }}#nav">Neu</a>
                          </li>
                          <li>
                            <a href="{{ path('cd', {'cond':'Old'} ) }}#nav">Gebraucht</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </nav>
                  
                  

          <div class="cols">


            <div class="col c10of12">
  
              <ul class="products">
              {% for product in products %}
                <li>
                  <div class="product-card">
                    <h2 class="heading style1">{{ product.title }}</h2>
                    <div class="box">
                      <div class="cols">
                        <div class="col c5of12">
                          <figure class="image">
                          {% if product.image is not null %}
		                        <img height="300" width="200" src="/uploads/documents/{{ product.image.path }}">
		                      {%  else %}
		                        <img height="300" width="200" src="http://dummyimage.com/300x200/000/0011ff">
		                      {% endif %}
                          </figure>
                        </div> <!-- c5of12 -->
                        <div class="col c7of12">
                          <div class="small-box">
                            <p><strong class="booking">{{ product.price }}&euro;</strong></p>
                            <p><strong class="storing">auf Lager</strong></p>
                            <p class="delivery">Lieferung innerhalb der nächsten {{ product.shipping }} Werktage</p>
                            <ul class="rating">
				                      <li><a class="star one {% if product.stars < 1 %} empty {% endif %} " href="{% if is_granted('IS_AUTHENTICATED_FULLY') %} {{ path('vote', {'productid' : product.id, 'value' : "1"}) }} {% endif %}">befriedigend</a></li>
				                      <li><a class="star two {% if product.stars < 2 %} empty {% endif %} " href="{% if is_granted('IS_AUTHENTICATED_FULLY') %} {{ path('vote', {'productid' : product.id, 'value' : "2"}) }} {% endif %}">gut</a></li>
				                      <li><a class="star three {% if product.stars < 3 %} empty {% endif %} " href="{% if is_granted('IS_AUTHENTICATED_FULLY') %} {{ path('vote', {'productid' : product.id, 'value' : "3"}) }} {% endif %}">sehr gut</a></li>
                            </ul>

                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
									            <a class="add btn" href="{{ path('cart_add', {'id': product.id}) }}">in den Warenkorb</a>
									          {% endif %}
                          </div> <!-- box -->
                        </div> <!-- c6of12 -->
                      </div> <!-- cols -->
                      <ul class="genre-list">
                        {% for genre in product.genres %}
								        <li><strong>{{ genre.name }}</strong></li>
								        {% endfor %}
                      </ul>
                      <p>{{ product.description }}</p>
                    </div> <!-- box -->
                    </div> <!-- box -->
                  </li>

              {% endfor %}
              </ul>
            </div> <!-- c10of12 -->
            <div class="col c2of12">
              <a class="card" href="{{ path('cart') }}">
               	<span class="amount">
                	<span>{{ cartCount }}</span>
               	</span>
                <span class="price">({{ cartSum }}&euro;)</span>
              </a>
            
              <div class="filter box">
                <h2 class="heading style3">Filter</h2>
                <h3 class="heading style4">Genre:</h3>
                <form action="{{ path('filter') }}" method="post">
                  <ul>
                  {% for genre in genres %}
								   <li>
								     <input id="g{{ loop.index }}" type="checkbox" {% if genre.active %} checked="checked" {% endif %}  name="filter[]" value="{{ genre.id }}">
								     <label for="g{{ loop.index }}" class="label">{{ genre.name }}</label>
								   </li>
								  {% endfor %}
                  </ul>
                  <input class="input from" name="from" placeholder="5 &euro;" type="text" size="3" value="{{ from }}">
                  <p>-</p>
                  <input class="input until" name="until" placeholder="50 &euro;" type="text" size="3" value="{{ until }}">
                  <button class="btn">Filtern</button>
                </form>
              </div> <!-- filter -->
            </div> <!-- c2of12 -->
          </div> <!-- cols -->



{% endblock %}